<br>
<!-- Default Checkbox -->
<ion-checkbox></ion-checkbox>
<br>

<!-- Disabled Checkbox -->
<ion-checkbox disabled="true"></ion-checkbox>
<br>

<!-- Checked Checkbox -->
<ion-checkbox checked="true"></ion-checkbox>
<br>

<!-- Checkbox Colors -->
<ion-checkbox color="primary"></ion-checkbox>
<br>
<ion-checkbox color="secondary"></ion-checkbox>
<br>
<ion-checkbox color="danger"></ion-checkbox>
<br>
<ion-checkbox color="light"></ion-checkbox>
<br>
<ion-checkbox color="dark"></ion-checkbox>
<br>

<!-- Checkboxes in a List -->
<ion-list>
  <ion-item *ngFor="let entry of form">
    <ion-label>{{entry.val}}</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
  </ion-item>
</ion-list>